<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../../public/img/icono.png.png" type="image/x-icon">
    <title>Mi Recetario Web</title>
</head>
<body>
  <div class="container fluid" >
    <!--Header-->
    <header>
        <div>
            <h1><b>Mi Recetario Web</b></h1>
            <h2>Recetas fáciles y rápidas</h2>
        </div>
    </header>
    <!--NAVBAR-->
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
        <a href="../views/recetas-saladas.html">RECETAS SALADAS</a>
        <a href="../views/formulario.html">CONTACTO</a>
    </nav>

    <!--Principal-->
    <div class="principal">
      <main class="recetas-saladas">
          <section class="recetas saladas">
            <h2><b>POSTRES</b></h2>
            <div class="card-group">
              <div class="card" style="width: 18rem;">
                <img src="../img/pastel-de-red-velvet.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><b>Pastel de Red Velvet</b></h5>
                  <p class="card-text">El pastel de red velvet, también conocido como “terciopelo rojo”, es uno de los postres más icónicos de la repostería en Estados Unidos.<br>Es una opción perfecta para sorprender a tus invitados en cualquier celebración, con su combinación única de sabor suave.

                  </p>
                </div>
                <div class="card-body">
                  <a href="https://comedera.com/pastel-de-red-velvet/" target="_blank">Ver más</a>
                  
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../img/Postre-tres-leche-con-frutas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><b>Tres Leche con Frutas</b></h5>
                  <p class="card-text">Convierte el tradicional bizcocho en un postre tres leches con frutas, una versión muy deliciosa y sencilla de preparar.<br>
                    El postre de tres leches es un clásico de la repostería y esta versión con frutas elevará la experiencia y el sabor.</p>
                </div>
                <div class="card-body">
                  <a href="https://comedera.com/postre-tres-leches-con-frutas-rico-y-facil-de-preparar" target="_blank">Ver más</a>
                </div>
              </div>
            </div>
           
          </section>
          <section class="postres">
          
            <div class="card-group">
              <div class="card" style="width: 18rem;">
                <img src="../img/pay-de-frutos-rojos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><b>Pay de frutos rojos</b></h5>
                  <p class="card-text">Disfruta de este pay de frutos rojos, un postre delicioso y cremoso para que compartas en familia durante la merienda o en cualquier ocasión especial.<br> Un pay súper delicioso y cremoso para que disfrutes de un buen postre. </p>


                </div>
                <div class="card-body">
                  <a href="https://comedera.com/como-hacer-pay-de-frutos-rojos/" target="_blank">Ver más</a>
                  
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../img/banana-split-helado.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><b>Banana Split</b></h5>
                  <p class="card-text">Te enseñamos cómo hacer un delicioso dulce banana split, uno de los postres con helado más clásicos. <br>Ahora, con nuestra receta lo aprenderás a hacer en la comodidad de tu casa con ingredientes básicos y en solo 10 minutos.
                    <br>
                  </p>
                </div>
                <div class="card-body">
                  <a href="https://comedera.com/como-hacer-un-delicioso-banana-split/" target="_blank">Ver más</a>
                </div>
              </div>
            </div>

          </section>
         
      </main>


      <aside>
          <div class="aside-card">
            <h2 class="titulo-aside"><i><b>¡PRÓXIMAMENTE!</b></i></h2>
          
            <div class="card-aside" style="width: 18rem;">
              <img src="../img/trufas-con-vino-tinto-y-chocolate.jpg" class="aside-img" alt="...">
              <div class="card-body-aside">
                <h5 class="card-title"><i><b>Trufas con Vino Tinto y Chocolate</b></i></h5>
                <p class="card-text">Este dulce es uno de los más populares por su practicidad, sabor y elegancia, dependiendo de cómo lo hagas. Hay muchas formas de hacerlas, pero de chocolate es una de las más exquisitas.
                </p>
              </div>
            </div>

            
            <div class="card-aside" style="width: 18rem;">
              <img src="../img/cannoli-italiano.jpg (1).jpg" class="aside-img" alt="...">
              <div class="card-body-aside">
                <h5 class="card-title"><i><b>Cannoli Italiano</b></i></h5>
                <p class="card-text">Originariamente de Sicilia, es una delicia única y tentadora, que ha ganado un lugar especial en el corazón de los amantes de la repostería. <br>El cannoli se presenta no sólo como un postre, sino como una obra de arte culinario. </p>
              
              </div>
            </div>
            
            <div class="card-aside" style="width: 18rem;">
              <img src="../img/bombon-suizo-torta.jpg (1).jpg" class="aside-img" alt="...">
              <div class="card-body-aside">
                <h5 class="card-title"><i><b>Torta de Bombón Suizo</b></i></h5>
                <p class="card-text">La torta de bombón suizo es una exquisitez que combina el sabor del chocolate con la suavidad de un bizcochuelo esponjoso, lo que la convierte en una elección perfecta para cualquier ocasión. </p>
                             
              </div>
            </div>
            
            

          </div>
      </aside>
  </div>

  

  
    <footer>
        <p>&copy; Greidy Ivonne Vargas, Potrero Digital 2024</p>
    </footer>
    <!--Script Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </div>
</body>
</html>